modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CS2 Webradar"

[[workflows.workflow]]
name = "CS2 Webradar"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 44409
externalPort = 3001

[[ports]]
localPort = 46205
externalPort = 3000

[[ports]]
localPort = 46869
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "out"
run = ["npm", "start"]

[userenv]

[userenv.development]
NEXT_PUBLIC_WEBRADAR_HTTP = "http://localhost:3000"
NEXT_PUBLIC_WEBRADAR_SOCKET = "ws://localhost:3000"
NEXT_PUBLIC_WEBRADAR_SSE_ENDPOINT = "/webradar/sse"
NEXT_PUBLIC_WEBRADAR_SOCKET_ENDPOINT = "/webradar/socket"
